# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
dist-ssr/

# Firebase & local cache
.firebase/
.tmp/
*.local

# Environment variables
.env.local
.env.*.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Capacitor native build outputs
**/android/.gradle/
**/android/build/
**/android/app/build/
**/android/local.properties
**/android/.cxx/
**/ios/App/build/
**/ios/App/Pods/
**/ios/App/.symlinks/
**/ios/App/Pods.xcodeproj
**/ios/App/*.ipa

# Local binaries and zip packages
*.apk
*.zip
*.keystore


